/*!
    - Document: main.css
    - Version : 1.0.0
    - Author  : M. Boulhana
    - Date    : Apr 09, 2021 03:20PM.
 */

/* Global Settings
   ----------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Primary Layout Structure
   ----------------------------- */
body {
  background-color: #fafafd;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

h1,h2,h3,h4,h5,h6 {
	color: #0B0B0C !important;
}

/* Forms Custom Style
   ----------------------------- */
.auth-form {
    max-width: 400px;
    margin: auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.input-field {
    height: 45px;
	font-size: 14px;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	padding-left: 15px;
}

/* Home content Layout
   ----------------------------- */

.home-container{
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	column-gap: 10px;
  	row-gap: 15px;
  	
}
.header-side{
	height: 300px;
	grid-column: 1 /6;
  	grid-row: 1 / 2;
  	background-color: bisque;
}
.category-side{
	grid-column: 1 / 2;
  	grid-row:  2 / 4;
}

.the-books-side{
	grid-column: 2 /  6;
  	grid-row:  2 / 4;
}
