@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

main{
	margin: 100px;
	margin-bottom:  0px;
	overflow: hidden
}

/* ------------ sidebar -------------------- */
#side-bar{
	width: 40%;
	height: auto;
	float: left;
}
/* ----------------------------------------- */


/* ------------ content -------------------- */
#main-content{
	position: relative;
	width: 60%;
	height: 550px;  
	float: right;
}

#main-content section{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
#main-content .active-section{
	display: inherit;
}

/* Dashboard ----------------------- */
.dashboard-cards .ds-card{
	width: 164px;
	padding-block: 20px;
	float: left;
	text-align: center;
	margin-inline: 50px;
	background: rgba(9, 121, 250, 0.1);
	border-radius: 10px;
	cursor: pointer
}


/* Orders History ----------------------- */
#orders-history{
}


/* Billing Address ----------------------- */
#billing-address{

} 


/* Account Details ----------------------- */
#account-details{
}


/* ----------------------------------------- */



/* ------------ navigation card ------------- */
.profile-menu-card{
	margin-right: 100px;
	overflow: hidden;
	border-radius: 10px
} 
profile-menu-card-header{
	height: auto;
	background-color: #0979FA !important 
}
.profile-menu-card-header h3{
	height: auto;
	margin: 0;
	align-self: center;
	color: #FFFFFF !important;
	font-family: Poppins;
	font-size: 30px;
	line-height: 39px;
	font-weight: 600
}
.profile-menu-card-list{
	overflow: hidden
}
.profile-menu-card-item{
	color: #0B0B0C !important;
	font-family: Poppins;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	cursor: pointer
}
.profile-menu-card-item:hover, .selected{
	background-color: #E0F0F6 !important
}
/* ----------------------------------------- */
