@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
}

.table{
	overflow: hidden !important;
    border-radius: 10px !important;
}

.list_group{ 
	flex-basis:15%;
	margin-right:5%; 
}

.container_table{
	margin:0;
	padding:0;
	flex-basis:65%
}

.div_inline{
	display:flex;
	justify-content: space-between;
}

.first_col{
	align:center;
}